<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Shopping Cart</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Add New Product</h1>
		<hr>
		<h2>Product Details</h2>

		<form action="#" th:action="@{/saveproduct}" th:object="${product}" method="POST">
			<input type="text" th:field="*{productname}" placeholder="Product Name" class="form-control mb-4 col-4">
			<input type="text" th:field="*{catagory}" placeholder="catagory" class="form-control mb-4 col-4">
			<input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Add
				Products</button>
		</form>

		<hr>

		<a th:href="@{/product}"> Back to Product List</a>
	</div>
</body>

</html>